<!DOCTYPE html>
<html>

<head>
<title>Text Analytics</title>
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/TAFiles.js"></script>
  <style type="text/css">
  body {
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
  }
  .sidebar-nav {
    padding: 9px 0;
  }

  @media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  </style>
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li class="active"><a href="index.html">Home</a></li>
				 <span class="divider">/</span>
				<li><a href="tokenize.html">Tokenize</a></li>
				 <span class="divider">/</span>
				<li><a href="postags.html">Parts Of Speech</a></li>
			</ul>
			<div class="page-header">
			<h3>In God we trust. All others must bring data.</h3>
		</div>
		</div>
		</div>
	</div>
</div>

</body>

</html>